@import 'https://fonts.googleapis.com/css?family=Abel|Open+Sans|Poiret+One|Quicksand|Raleway|Roboto|Ubuntu|Lato';

$OpenSans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;
$PoiretOne: 'Poiret One', cursive;
$Abel: 'Abel', sans-serif;
$Quicksand: 'Quicksand', sans-serif;
$Lato: 'Lato', sans-serif;
